
*{
    padding: 0;
    margin: 0;
    font-family: 'Marmelad', sans-serif;
}
.nav1{
    /* position: sticky;
    top: 10px ; */
    background: black;
}
.collapse{
    background: black;
}
.navbar-brand{
    font-weight: 30px;
}

.nav-link{
    font-weight: bolder;
    letter-spacing: 1px;
    position: relative;
}
.nav-link:after{
    content: "";
    position: absolute;
    /* background-color: #ff3c78; */
    background-color:blue;
    height: 5px;
    width: 0;
    left: 0;
    bottom: 0px;
    transition: .3s;
}
.nav-link:hover:after{
    width: 100%;
}
.main1{
    width: 100%;
    height: 700px;
    background-image: url('https://images.unsplash.com/photo-1531297484001-80022131f5a1?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8M3x8cG9ydGZvbGlvJTIwYmFja2dyb3VuZHxlbnwwfHwwfHw%3D&w=1000&q=80'); 
    background-size: 100% 700px;
    background-repeat: no-repeat;
    /* padding-left:450px ;  */
}
.main2{
    width: 600px;
    height: 300px;
    /* background-color: gray;   */
    text-align: center;
}
.title{
    /* padding-top: px; */
    font-size: 60px;
    font-family: 'Suez One', serif;
    color: white;
}
.animated-text{
    color: #fff;
    font-size: 60px;
    font-weight: bold;
    position: relative; 
}
.animated-text:after{
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    background: black; 
    border-left: 2px solid #fff;
    left: 158px;
    animation: typing 2s steps(9) infinite;

}
@keyframes typing{
    100%{
        left: 83%;
    }

}
.about{
    height: 600px;
    margin: 80px;
    font-family: 'Marmelad', sans-serif;
    box-shadow: 1px 1px 3px 3px;
}
.about1{
    width: 50%;
    height: 600px;
    float: left;
}
.about2{
    width: 50%;
    height: 600px;
    float: left;
}
.about-img{
    width: 40%;
    height: 300px;
    float: left;
}
.about-info{
    width: 60%;
    height: 300px;
    float: left;
    padding: 60px;
}
.my-img{
    width: 200px;
    height: 200px;
    margin: 50px;  
    border-radius:10px;

}
.line{
    padding-left: 20px;
    margin-bottom: 25px;
}
.info{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.info span{
    font-weight: 500px;
    font-size: 18px;
    padding-right: 20px;
}
.bars{
    background-color: lightgray;
    height: 10px;
    width: 95%;
    border-radius: 15px;
}
.bars::before{
    content: '';
    position: absolute; 
    height: 10px;
    background-color: black;

}
.C::before{
    width: 24%;
    border-radius: 15px;

}
.html::before{
    width: 24%;
    border-radius: 15px;

}
.CSS::before{
    width: 24%;
    border-radius: 15px;

}
.cp::before{
    width: 24%;
    border-radius: 15px;
}
.projects{
    width: 90%;
    height: 1100px;
    text-align: center;
    
}
.card{
    height: 500px;
    transition: .1s;
    border: 0;
}
.card:hover{
    box-shadow: 1px 1px 3px 3px; 
    transform: scale(1.01);
    z-index: 2;
    cursor: crosshair;

}
i{
    transition: .3s;
}
i:hover{
    transform: scale(1.2);
    z-index: 2;
}
.socialmedia{
    transition: .5s;
}
.socialmedia:hover{
    transform: scale(1.3);
    z-index: 2;
}
.education{
    height: 830px;
    margin: 80px;
    font-family: 'Marmelad', sans-serif;
    box-shadow: 1px 1px 3px 3px;
}
/* .contents{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 20px;
} */
 .contents{
    padding: 0px 30px;
    border-left: 2px solid black;
} 
.box{
    position: relative;
    padding: 20px;
    cursor: pointer;
    transition: all .4s;
}
.box:hover{
    box-shadow: 1px 1px 3px 3px;
    border: 1px solid transparent;
} 
.box::before{
    content: '';
    position: absolute;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    right: calc(100% + 24px);
    top: 0;
    background-color: #0B5ED7;
    border: 2px solid black;
}
.project-pic{
    width: 350px;
    height: 350px;
}


